:root {
    --couleur-violet-fonce: #3e0d81;
    --couleur-violet-clair: #a954f3;
    --couleur-orange: #ff8679;
    --couleur-blanc: #ffffff;
    --couleur-noir: #000000;
    --couleur-gris: #666666;
    --couleur-gris-clair: #f0f0f0;
}

